<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<div class="row turnjs4typo3row">
	<f:for each="{documents}" as="document" iteration="counter">

		<f:if condition="singlePid">
			<f:then>
				<f:link.page
						additionalParams="{
							tx_turnjs4typo3_turnjs4typo3:{
								controller: 'Document',
								action: 'show',
								document: '{document}'
								}
							}"
						class="mainmenu"
						pageUid="{singlePid}">
					<f:render partial="Document/ListElement" arguments="{_all}"/>

				</f:link.page>
			</f:then>
			<f:else>
				<f:link.action
						controller="Document"
						action="show"
						arguments="{document : document}">
					<f:render partial="Document/ListElement" arguments="{_all}"/>
				</f:link.action>
			</f:else>
		</f:if>

	</f:for>

</div>

</html>