<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">



<div id="flipbook">

    <f:for each="{document.images}" as="pic">

        <div>
            <f:image src="{pic.originalResource.publicUrl}" alt="{pic.originalResource.alternative}" title="{pic.originalResource.title}" ></f:image>
        </div>

    </f:for>


</div>

<hr/> Blättern:
<button id="prevBtn">zurück</button>
<button id="nextBtn">weiter</button>

<script id="turnjs_autosize" type="application/json"><f:format.raw>{autosize}</f:format.raw></script>
<script id="turnjs_setting" type="application/json"><f:format.raw>{settings}</f:format.raw></script>
<script src="{f:uri.resource(path: 'js/turnjs4typo3.js')}"></script>


</html>